<footer class="footer">
	<small>
		<a href="www.seerakademi.com">Seer Akademi</a> by Niranjan
	</small>
	<nav>
		<ul>
		<li><%= link_to "About", '#' %></li>
		<li><%= link_to "Contact", '#' %></li>
		<li><a href="www.seerakademi.com">News</a></li>
		</ul>
	</nav>
</footer>

